/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */


input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


input#wp_rla_login_button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input#wp_rla_login_button:hover{
    background-color: #45a049;
}

#wprla_message_success{
    display: none;
    background: #8BC34A;
    font-size: 16px;
    color: #111;
    padding: 5px;
    margin: 2px 0;
}

#wprla_message_error{
    display: none;
    background: #F44336;
    font-size: 16px;
    color: #111;
    padding: 5px;
    margin: 2px 0;

}